@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
.app {
  color: #444444;
  width: 350px;
  height: 400px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2em;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

header,
main,
footer {
  padding-left: 240px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
